h1 {
    margin-bottom: 50px;
}

#pomodoroClock {
    margin: 50px;
}

#breakClock {
    margin: 50px;
}

#tasksList {
    background-color: #A6AAA7;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}
