margin {
    h1-bottom: 50px;
}

#pomodoroClock {
    margin: 50px;
}

#breakClock {
    margin: 50px;
}

#tasksList {
    background-color: #A6AAA7;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}

#tableDiv {
    width: 50%;
    margin: 0 auto;
    border-color: #e5e5e0;
    border-style: solid;
    border-width: 1px;
}
